.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  
  .theme-toggler {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .theme-toggler span {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .theme-toggler span.active {
    color: #5a3e2b;
  }
  
  .profile {
    display: flex;
    align-items: center;
  }
  
  .profile .info {
    margin-right: 10px;
  }
  
  .profile-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .dark-theme-variables .top {
    background: #5d4037;
  }
  